input[type="password"]:focus,
input[type="submit"]:focus,
input[type="text"]:focus {
  outline: none;
}

/* .ce-header {
  display: block;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.ce-header ~ h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2.ce-header {
  font-size: 1.5em;
  margin: 0.83em 0;
}
.ce-header ~ h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
.ce-header ~ h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
.ce-header ~ h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
.ce-header ~ h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
} */

/* To enable cursor in a single click in Header tool*/
.ce-header[contentEditable="true"][data-placeholder]::before {
  pointer-events: none;
}
