.comment {
  text-align: right;
  font-size: 14px;
  cursor: pointer;
  color: rgb(85, 85, 199);
}
.comment:hover {
  text-decoration: underline;
}
.commentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* justify-content: center; */
  height: inherit;
}
.commentContainer > .commentInnerContainer {
  width: 100%;
  max-width: 960px;
}
.commentContainer > .commentInnerContainer .subdomainSidebarContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.subdomainSidebarContainer .sidebarContainer {
  position: -webkit-sticky;
  position: sticky;
  top: 32px;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  margin: 0 32px 0 0;
}

.boardDetails {
  display: flex;
  flex-direction: column;
  padding: 10px 16px 16px;
  border: 1px solid #efefef;
  background: #f5f5f5;
  overflow-y: auto;
  max-height: 80vh;
  border-radius: 5px;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
.boardDetails .heading {
  font-size: 17px;
  line-height: 24px;
  margin: 7px 0;
  text-align: center;
}
.createPostForm {
  display: flex;
  flex-direction: column;
}
.boardDetails .createPostForm {
  margin: 10px 0 0;
  padding: 0;
}
.uppercaseHeader {
  color: #999;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 17px;
  text-transform: uppercase;
}
.createPostForm .formButtons {
  display: flex;
  justify-content: space-between;
}
.createPostForm .autoResizeTextarea,
.createPostForm .dropdownContainer,
.createPostForm .textInput {
  margin: 0 0 16px;
  border: 1px solid #efefef;
}
.textInput {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  background: #fff;
  border: 1px solid #e6e6e6;
  cursor: text;
  box-sizing: border-box;
  border-radius: 5px;
}
.textInput .inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.textInput .inputContainer input {
  flex: 1;
  width: 100%;
  line-height: 21px;
  border: 0;
  margin: 0;
  padding: 0;
  resize: none;
  color: #333;
  background: none;
  font-size: 15px;
  line-height: 22px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  opacity: 1;
  min-width: 0;
}
.autoResizeTextarea {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  background: #fff;
  border: 1px solid #ddd;
  cursor: text;
  box-sizing: border-box;
  border-radius: 5px;
}
.createPostForm .autoResizeTextarea,
.createPostForm .dropdownContainer,
.createPostForm .textInput {
  margin: 0 0 16px;
  border: 1px solid #efefef;
}
.autoResizeTextarea .inputContainer {
  display: flex;
  flex-direction: row;
}
.autoResizeTextarea .inputContainer textarea {
  flex: 1;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  resize: none;
  outline: none;
  color: #333;
  background: none;
  font-size: 15px;
  line-height: 22px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  opacity: 1;
  min-height: 21px;
}
.buttonStyle.cannyButton,
button.cannyButton {
  background: #525df9;
  color: #fff;
}
.createPostForm .formButtons {
  display: flex;
  justify-content: space-between;
}

.buttonStyle,
button {
  display: flex;
  cursor: pointer;
  position: relative;
  justify-content: center;
  margin: 0;
  /* padding: 14px 16px; */
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden;
  transition: color 0.25s cubic-bezier(0.16, 0.83, 0.31, 0.99),
    background-color 0.25s cubic-bezier(0.16, 0.83, 0.31, 0.99);
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}

.comments__section {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
}
