@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Custom Theme */
/* @layer base {

  .theme-bg-primary {
    @apply bg-primary-500 dark:bg-primary-100;
  }

  .bg-default {
    @apply bg-gray-50 dark:bg-[#1C1B1B];
  }

  .bg-surface {
    @apply bg-gray-100 dark:bg-[#252525];
  }

  .bg-onSurface {
    @apply bg-gray-200 dark:bg-[#2A2831];
  }

  .bg-surface2 {
    @apply bg-[#EEE8F4] dark:bg-[#302D38];
  }

  .bg-surface3 {
    @apply bg-[#EDE6F3] dark:bg-[#322E3A];
  }

  .bg-surface4 {
    @apply bg-[#EDE6F3] dark:bg-[#35323E];
  }

  .bg-card {
    @apply bg-white dark:bg-[#000000];
  }

  .theme-text-on-primary {
    @apply text-white dark:text-primary-900;
  }

  .theme-text-primary {
    @apply text-primary
  }

  .theme-text {
    @apply text-slate-700 dark:text-slate-400;
  }

  .theme-text-h1 {
    @apply text-slate-800 dark:text-slate-100;
  }

  .theme-text-h2 {
    @apply text-slate-700 dark:text-slate-200;
  }

  .theme-text-h3 {
    @apply text-slate-600 dark:text-slate-300;
  }

  .theme-text-sub1 {
    @apply text-slate-500 dark:text-slate-400;
  }

  .theme-text-sub2 {
    @apply text-slate-400 dark:text-slate-500;
  }

  .theme-border {
    @apply border-gray-300 divide-gray-300 dark:border-gray-700 dark:divide-gray-700;
  }
}

@layer components {

  .link {
    @apply flex items-center space-x-2 px-2 border-l-4 transition-all ease-in duration-200;
  }

  .link-active {
    @apply bg-onSurface border-primary-500;
  }

  .link-inactive {
    @apply hover: bg-surface border-transparent;
  }

  .theme-input {
    @apply bg-surface border theme-border placeholder:theme-text-sub2 placeholder:text-sm placeholder:first-letter:uppercase p-2 rounded-md bg-surface;
  }
} */

.body {
  scroll-behavior: smooth;
  height: 100%;
}